<%- include('partials/header'); -%>

<header>

  <div class="smoothie">
    <img src="/h1.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Explore the World</h2>
    <h3>Your Ultimate Travel Guide</h3>
    <a href="/travel" class="btn">View Destinations</a>
  </div>
  
</header>


