<%- include('partials/header'); -%>

<ul class="travels">

  <li class="travel">
    <img src="/p1.png" alt="Paris">
    <h4>Paris, France</h4>
    <p>The City of Lights</p>
  </li>

  <li class="travel">
    <img src="/p1.png" alt="Tokyo">
    <h4>Tokyo, Japan</h4>
    <p>The Land of the Rising Sun</p>
  </li>

  <li class="travel">
    <img src="/p1.png" alt="New York">
    <h4>New York, USA</h4>
    <p>The Big Apple</p>
  </li>

  <li class="travel">
    <img src="/p1.png" alt="Sydney">
    <h4>Sydney, Australia</h4>
    <p>The Harbour City</p>
  </li>

  <li class="travel">
    <img src="/p1.png" alt="Rome">
    <h4>Rome, Italy</h4>
    <p>The Eternal City</p>
  </li>

  <li class="travel">
    <img src="/p1.png" alt="Cape Town">
    <h4>Cape Town, South Africa</h4>
    <p>The Mother City</p>
  </li>
  
</ul>


